@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

img{
    width: 100%;
    border-radius:12px;

    height: 214px;
    object-fit: cover;
    margin-bottom: 9px;
}

body{
    background-color: #EAEFF1;
    font-family: 'Raleway';
}

.card{
    /* text-align: center; */
    max-width: 300px;
    margin:10px auto;
    background-color: white;
    padding: 8px;
    border-radius: 12px;

    border:1px solid #BACD88;
}

.card__details{
    padding:16px 8px 8px 8px;
}

.tag{
    padding: 4px 8px;
    border-radius: 20px;

    border:1px solid #E5EAED;
    font-size: 12px;
    font-weight: 600;
    color:#788697;
}

.name{
    font-size:24px;
    font-weight: normal;
    margin-top: 16px;
}

p{
    font-size: 14px;
    color:#7f8C9B;
    line-height: 150%;
}

button{
    border:none;
    padding: 12px 24px;
    border-radius: 20px;

    font-weight: 600;
    color:#0077FF;
    background-color:#E0EFFF;

    margin: 0 auto;
    display:block;

    transition: all 200ms ease-in-out;
    cursor:pointer;
}

button:focus ,button:hover{
    color:#E0EFFF;
    background-color:#0077FF;
}

